:root {
    --white-Principal: #FFFFFF;
    --gray-Secundario: #C0C0C0;
    --blue-Button: #167BF7;
    --background-Color: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--background-Color);
    color: var(--white-Principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400px;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* Faz ocupar todo o espaço no container */
    align-items: center;
    text-align: center;
}

.container-elements {
    margin: 0 6em;
}

.image-combo {
    padding: 1em 0 2em 0;
}


.text-principal {
    color: var(--white-Principal);
    font-size: 30px;
    font-weight: 700;
}

.button-princpal {
    color: var(--white-Principal);
    background-color: var(--blue-Button);
    border-style: none;
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}


.button-valor {
    background-color: transparent;
    border: solid 1px var(--white-Principal);
}

.text-principal-footer {
    color: var(--gray-Secundario);
    font-size: 12px;
}

.secundario {
    align-items: center;
    margin: 0 7em;
}

.image-plataforma {
    width: 80%;
}

.text-secundario {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.3em;
    color: var(--white-Principal);

}

.text-secundario-footer {
    color: var(--gray-Secundario);
    line-height: 1.5em;
}

.button-secundario {
    margin-top: 1em;
    display: inline-block;
}

.dispositivos {
    text-align: center;
}

.dispositivos-lista {
    margin: 1.5em;
    display: flex;
    justify-content: center;
}

.lista-item {
    font-weight: 700;
    font-size: 24px;
}

.rodape {
    text-align: center;
}

.rodape-logo {
    margin-top: 5em;
}

.rodape-lista {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.rodape-lista a {
    font-size: 16px;
    font-weight: 400;
    color: var(--white-Principal);
    text-decoration: none;
    padding: 2em;
}

.rodape-lista-item a:hover {
    color: var(--blue-Button);
}

.text-rodape {
    margin: 1em 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--gray-Secundario);
}